*.acn
*.acr
*.alg
*.aux
*.bbl
*.bcf
*.blg
*.dbexamplelist
*.dbfaqlist
*.dbremarklist
*.dbwarninglist
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glg2
*.glo
*.glo2
*.gls
*.gls2
*.hd
*.idx
*.ilg
*.ind
*.ist
ls-R
*.loe
*.lof
*.log
*.lol
*.lot
*.maf
*.mtc
*.mtc0
*.mw
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.run
*.run.xml
*.slg
*.slo
*.sls
*.snm
*.synctex
*.tcbtemp
*.tdo
*.toc
*.unq
*.vrb
*.xdy
*.el
*~

**/auto/*

**/auto/
**/bibtex/
**/context/
**/dvips/
**/fonts/
**/generic/
**/metapost/
**/miktex/
**/scripts/
**/src/
**/texdoc/
**/tpm/
**/web2c/
**/plain/

doc/*
!doc/latex/
doc/latex/*
!doc/latex/yathesis/

source/*
!source/latex/
source/latex/*
!source/latex/yathesis/

tex/*
!tex/latex/
tex/latex/*
!tex/latex/yathesis/

*Makefile

*/sample/*
*guidoct*
*donnees-these*
*README.tex
